@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/NunitoSans/NunitoSans_7pt_Condensed-Light.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/NunitoSans/NunitoSans_7pt_Condensed-SemiBold.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/NunitoSans/NunitoSans_7pt_Expanded-ExtraBold.ttf");
}
